* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  position: relative;
  height: 100vh;
  overflow: hidden; }

.widget {
  padding: 50px;
  z-index: 100;
  color: white;
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: 15%;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6); }

.widget .weatheaIco {
  font-size: 80px;
  float: left; }

.widget .temp-wrap i {
  font-size: 30px; }

.widget .temp-wrap .temp {
  font-size: 36px; }

.widget .time {
  margin-bottom: 15px;
  font-size: 26px; }

.widget .live-search {
  display: block;
  width: 100%; }

.widget .live-search .tp-autocomplete {
  display: inline-block; }

.map {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%; }
